<?php

$server = 'myserver.net';
$port = 443;
$username = 'myuser';
$password = 'mypassword';
// Method can be http or https
$method = 'http';
$mplayerfifo = '/tmp/clisonic.fifo';
$mp3dir = '/tmp';
$cachesize = 500; //  Song cache size in KB
$bufferTime = 0; // Time before a song ends to buffer the next one
// Leave $bufferTime at 0 for now, as it will break things if you change it

$app = 'clisonic-php';
$apiver = '1.7.0';
$baseurl = "$method://$server:$port/rest";
$dopts = "?u=$username&p=$password&v=$apiver&c=$app";
$stdio = fopen("php://stdin","r");

// Constants

// csMemcache, csSHM, csMsgQueue
define('MEMORY_CLASS', '\msgQueue\csMemcache');
// define('MEMCACHE_PORT', 11211);

define("SHM_KEY", "55555");
define("SHM_QUEUE_KEY", "20000");