<?php

// required settings
register_setting(CS_USERNAME, 'myuser');
register_setting(CS_PASSWORD, 'mypassword');
register_setting(CS_API_URL, 'http://myserver.net:443/rest');

// overrideable settings (shown with default values)
// register_setting(CS_FIFO, '/tmp/clisonic.fifo');
// register_setting(CS_BUFFER_LENGTH, 20);
// register_setting(CS_CACHE_SIZE, 500);
// register_setting(CS_QUEUE_KEY, 20000);
// register_setting(CS_MESSAGE_KEY, 20000);
// register_setting(CS_MP3_DIR, '/tmp');
// register_setting(CS_QUEUE_PATH, '/tmp/clisonic.queue');
// register_setting(CS_PLAYER_OUT, '/tmp/clisonic.player.out');
// register_setting(CS_DAEMON_OUT, '/tmp/clisonic.out');
// register_setting(CS_STDIO, fopen('php://stdin', 'r'));
// register_setting(CS_MEMORY_CLASS, '\msgQueue\csMsgQueue');
// register_setting(CS_MEMCACHE_HOST, 'localhost');
// register_setting(CS_MEMCACHE_PORT, 11211);
// register_setting(CS_APP, 'clisonic-php');
// register_setting(CS_API_VER, '1.7.0');
// register_setting(CS_VERBOSE, false);

/*
// custom arguments to pass along with api requests
register_setting(CS_API_ARGS,
  array(
    'u' => csSettings::get(CS_USERNAME),
    'p' => csSettings::get(CS_PASSWORD),
    'v' => csSettings::get(CS_API_VER),
    'c' => csSettings::get(CS_APP),
  ));
*/

/*
// custom aliases
register_setting(CS_CUSTOM_ALIASES,
  array(
    'alias' => 'command',
  ));
*/